<!-- login template -->

<div id="user_box" class="clearfix">
	<form id="logout" action = "/logout" method="GET" >
		<a href="/user/:id"> <%=displayName%> </a> |
		<input class="btn" id="add_btn" type= "submit" value="Logout"></input>
	</form>
</div>
