<!DOCTYPE html>
<html>
	<head>
		<title>uDasher</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="user_box" class="clearfix">
			<form id="logout" action = "/logout" method="GET" >
				<a href="/user/:id"> <%=facebook.displayName%> </a> |
				<input class="btn" id="add_btn" type= "submit" value="Logout"></input>
			</form>
		</div>
		
		
		
		<div class="content">
			<div id="home" class="clearfix">
				<h1>Welcome to uDasher</h1>
				<a href="/post_trips"><button class="btn">Post A Trip</button></a>
				<a href="all_trips"><button class="btn">Display all Trips</button></a>
				<a href="/post_items"><button class="btn">Post an Item</button></a>
				<a href="/all_items"><button class="btn">Display all Items</button></a>
			</div>
		</div>
	</body>
</html>
