<!DOCTYPE html>
<html>
	<head>
		<title>uDasher</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include header.ejs %>
		<div class="content">
			<div id="home" class="clearfix">
				<a href="/post_trips"><div id="post_trips" class="home_btn"></div></a>
				<a href="/post_items"><div id="post_items" class="home_btn"></div></a>
				<a href="all_trips"><div id="all_trips" class="home_btn"></div></a>
				<a href="/all_items"><div id="all_items" class="home_btn"></div></a>
			</div>
		</div>
	</body>
</html>
