<!DOCTYPE html>
<html>
  <head>
    <title>uDasher</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
         <div id="signup">
          <a href="/home"><h1>uDasher</h1></a>
          <form action = "submit.js" method="POST">
            <table>
            <tr>
            	<td width="100px"><label>Email:</label></td>
            	<td><input type="textbox" name = "email"></input><td>
            </tr>
            <tr>
            	<td width="100px"><label>Password:</label></td>
            	<td><input type="password" name = "password"></input></td>
            </tr>
            <tr>
              <td></td>
              <td><input class="btn" id="submit_btn" type= "submit" value="Enter"></input></td>
            </tr>
        	</table>
        </form>
      </div>
    </div>
	</body>
</html>
