<!DOCTYPE html>
<html>
<head>
	<title><%= "uDahser" %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="login_body">
	<div class="content">
		<img align="center" class="main_logo" src = "../images/main_logo.png"/>
		<div id="login_form_container">
			<form id="login_form" class="clearfix" action = "/login" method="POST">
			<h3>Login to uDasher</h3>
			<input class="box" type="textbox" name = "email" placeholder="Email Address" size="30"></input>
			<input class="box" type="password" name = "password" placeholder="Password" size="30"></input>
			<p>Need an account? <a href="/signup"><strong>Sign Up</strong></a></p>
			<input class="btn" id="submit_btn" type= "submit" value="Login"></input>
			</form>
			<a href="auth/facebook"><img class="fb_login" src="../images/fb_login.png" /></a>
			</div>
	</div>
</body>
</html>
