<!DOCTYPE html>
<html>
	<head>
		<title>uDasher</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include header.ejs %>
		<div class = "content">
			<div id="post_listing">
				<h2>Post a Trip:</h2>
				<form action = "/new_trip" method="POST">
						<p>Origin:</p>
						<input class="box" name ="origin" type="textbox" size=40 placeholder ="New York"></input>
						<p>Destination:</p>
						<input class="box" name="destination" type="textbox" size=40 placeholder ="State College"></input>
						<p>Cost:</p>
						<input class="box" name="cost" type="textbox" size=5 placeholder ="20"></input>
						<p>Rate:</p>
						<input class="box" name="rate" type="textbox" size=5 placeholder ="5"></input>
						<input class="btn" id="add_btn" type= "submit" value="Enter"></input>
				</form>
			</div>
		</div>
	 </body>
</html>
