<!DOCTYPE html>
<html>
	<head>
		<title>uDasher</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include header.ejs %>
		<div class = "content">
			<div id="post_listing">
				<h2>Add A New Item: </h2>
				<form action = "/new_item" method="POST" enctype="multipart/form-data">
						<p>Origin:</p>
						<input class="box" name ="origin" type="textbox" size=40 placeholder ="New York"></input>
						<p>Destination:</p>
						<input class="box" name="destination" type="textbox" size=40 placeholder ="State College"></input>
						<input name="image" type="file" size=5 ></input><br />
						<input class="btn" id="add_btn" type= "submit" value="Enter"></input>
				</form>
			</div>
		</div>
	 </body>
</html>
