<!DOCTYPE html>
<html lang="en">
	<head>
		<%include head.ejs%>
	</head>

<body>
	<% include navbar %>

	<div class="container">
	    <div class="row">
	    <div class="span6 center">
	      <form id="postItem" action="/new_item" method="POST">
	      	<legend>Post an Item</legend>

	   		<label>Item Description</label>
	   		<div class="form-inline">
		   		<input type="text" name="itemName" placholder="Item Name"></input>
		   		<input type="file" class="" name="itemImage"></input>
	   		</div>
	      	<label>Item Origin</label>
	      	<input type="text" name="originAddress" placeholder="Street Address"></input><br />
	      	<input type="text" name="origin" placeholder="City"></input>
			<select class="input-small">
				<option>PA</option>
				<option>NY</option>
				<option>MD</option>
				<option>NJ</option>
				<option>MA</option>
			</select>
			<input  class="input-small" type="text" name="originZip" placeholder="Zip Code"></input/>

	      	<label>Item Destination</label>
	      	<input type="text" name="destinationAddress" placeholder="Street Address"></input><br />
	      	<input type="text" name="destination" placeholder="City"></input>
			<select class="input-small">
				<option>PA</option>
				<option>NY</option>
				<option>MD</option>
				<option>NJ</option>
				<option>MA</option>
			</select>
			<input  class="input-small" type="text" name="originZip" placeholder="Zip Code"></input/>
			<label>Trip Cost</label>
			<div class="form-inline">
		      	<input class="input-small" type="text" name="cost" placeholder="Cost"></input>
		      	<input class="input-small" type="text" name="rate" placeholder="Rate"></input><br />
		      	<input type="submit" class="btn"></input>
	      	</div>
	      </form>
	  	</div>
	    </div>
	    </div> <!-- /container -->

	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span4 offset7">
			<ul class="nav nav-list">
				<li class="footerNavItem"><a href="#">Home</a></li>
				<li class="divider"></li>
				<li class="footerNavItem"> <a href="#">About</a></li>
				<li class="divider"></li>
				<li class="footerNavItem"><a href="#">Contact</a></li>
				<li class="divider"></li>
			</ul>
			</div>
	 	</div>
	</div>
	</div>


		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="./js/jquery.js"></script>
		<script src="./js/bootstrap-transition.js"></script>
		<script src="./js/bootstrap-alert.js"></script>
		<script src="./js/bootstrap-modal.js"></script>
		<script src="./js/bootstrap-dropdown.js"></script>
		<script src="./js/bootstrap-scrollspy.js"></script>
		<script src="./js/bootstrap-tab.js"></script>
		<script src="./js/bootstrap-tooltip.js"></script>
		<script src="./js/bootstrap-popover.js"></script>
		<script src="./js/bootstrap-button.js"></script>
		<script src="./js/bootstrap-collapse.js"></script>
		<script src="./js/bootstrap-carousel.js"></script>
		<script src="./js/bootstrap-typeahead.js"></script>

	</body>
</html>
