<!DOCTYPE html>
<html>
  <head>
    <title>Udasher</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="content">
  <h1>Sign up to uDasher</h1>
    <form id="login_form" action = "/new_user" method="POST">
      <table>
        <tr>
          <td width="100px"><label>Email:</label></td>
          <td><input type="textbox" name = "email"></input><td>
        </tr>
        <tr>
          <td width="100px"><label>Password:</label></td>
          <td><input type="password" name = "password"></input></td>
        </tr>
        <tr>
          <td width="100px"><label></label></td>
          <td><input class="btn" id="add_btn" type= "submit" value="Sign Up"></input></td>
        </tr>
      </table>
    </form>
    <a href="/auth/facebook"><button class="btn" id="submit_btn" >Login with Facebook</button></a>
  </div>
    </div>
	</body>
</html>
