<!DOCTYPE html>
<html>
  <head>
    <title><%= "uDahser" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
    <div id="signup">
      <a href="/home"><h1>uDasher</h1></a>
      <input  id="submit_btn"  class="btn" type= "submit" value="Login with Facebook"></input></td>
    </div>
    </div>
	</body>
</html>
